
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 3em;
}

#tabellone{
    margin: 3em;
    background-color: green;
    width: 70%;
    height: auto;
}

#tabellone > div{
    display: inline-block;
    text-align: center;
    width: 15%;
    padding: 0.3em;
    margin-bottom: 1%;
    border: 1px solid black;
    background-color: rgba(18, 72, 54, 0.365);
}

button{
    width: 20%;
    height: 3em;
    margin-left: 2em;
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
    background-color: rgba(15, 79, 143, 0.717);
    border: none;
    color: white;
    cursor: pointer;
  }
